$primary-color: #444;
$secondary-color: #ff8d41;
$show-bg-img: true;
$home-image: url(../images/refactoring-and-code-smells.jpg);
$bg-opacity: 0.7;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background{
    @if $show-bg-img{
        &#bg-img{
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            .overlay{
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $bg-opacity);
            }
        }
    }
}




//Media query mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}
@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mediaLg {
    @media screen and (max-width: 500px) and
    (max-width: 1170px) {
        @content;
    }
}
@mixin mediaXL {
    @media screen and (min-width: 1171px) {
        @content;
    }
}