@import 'config';


// Menu Button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut();
}

.btn-line{
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut();

    &.close{
        transform: rotate(180deg);
        
        //Line 1
        &:nth-child(1){
            transform: rotate(45deg) translate(5px, 5px)
        }

        //Line 2
        &:nth-child(2){
            opacity: 0;
        }

        //Line 3
        &:nth-child(3){
            transform: rotate(-45deg) translate(7px, -6px);
        }
    }
}

//Menu overlay
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    // opacity: 0.9;
    visibility: hidden;

    &.show{
        visibility: visible;
    }

    &-branding, &-nav{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav{
        margin: 0;
        padding: 0;
        // background: darken($primary-color, 5);
        background: rgba(55,55,55,0.9);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut();

        &.show{
            transform: translate3d(0, 0, 0);
        }
    }

    //branding side
    &-branding{
        // background: $primary-color;
        background: rgba(68,68,68,0.9);
        transform: translate3d(0, 100%, 0);
        @include easeOut();

        &.show{
            transform: translate3d(0, 0, 0);
        }

        .portrait{
            width: 250px;
            height: 250px;
            // background: url();
            border-radius: 50%;
            border: solid 3px $secondary-color;
            background-image: url("../images/profilePic1.jpg");
            background-size: cover;
        }
    }

    .nav-link{
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: #fff;
        @include easeOut();

        &:hover{
            color: $secondary-color;
        }

    }

    .nav-item{
        transform: translate3d(600px, 0, 0);
        @include easeOut();

        &.show{
            transform: translate3d(0, 0, 0);
        }

        &.current > a{
            color: $secondary-color;
        }
    }
}



