@import 'menu';
@import 'config';


*{
    box-sizing: border-box;
}

body{
    @include background();
    background: $primary-color;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;   
}

//Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading{
        font-size: 6rem;
    }

    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        // background: rgba(lighten($primary-color, 0.5), 0.5);
    }
}

a{
    color: #fff;
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
    color: $secondary-color;
}

main{
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 60px);

    .icons{
        margin-top: 1rem;

        a{
            padding: 0.4rem;

            &:hover{
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
}

//Delay
@for $x from 1 through 4{
    .nav-item:nth-child(#{$x}){
        transition-delay: $x * 0.1s;
    } 
}


// //ABOUT PAGE    ** Replaced with Bootstrap Grid **
// .about-info{
//     // display: grid;
//     // grid-template-areas: 
//     // 'bio-image bio bio'
//     // 'exp edu';
//     // grid-template-columns: repeat(2, 1fr);
//     // grid-gap: 30px;
// }

.bio{
    font-size: 1.5rem;
}

.bio-item{
    background: !important lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
}

#foot{
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    height: 60px;
}

//Projects
.projects{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    // .item{
    //     // width: 50vw;
    // }
    .description{
        display: none;
    }
    
    img{
        width: 100%;
        border: 3px #fff solid;
        height: 306.16px;

        &:hover{
            //Need to add a description hover tag effect :/
            // opacity: 0.7;
            // border-color: $secondary-color;
            // @include easeOut();
            
        }
    }

    #friend-wrapper{
    border-style: solid;
    padding: 25%;
    margin-bottom: 5px;
    border-width: 3px;
    max-height: 306.16px;
    }

    .item{
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
    }
}

.img-container{
    position: relative;
    width: 100%;
    margin-bottom: 2px;
}

.img-container:hover .project-overlay{
    opacity: 1;
}

.project-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: .5s ease;
  background-color: #eee;
}

.project-description{
    color: black;
    // font-size: 1.1rem;
    position: absolute;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.miniProjDesc{
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}

.techList{
    text-align: left;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

//Project Button Styles
.btn{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover{
        background: $secondary-color;
    }
}

.btn-dark{
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light{
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}


//Contact Page
.boxes{
    .contact-info{
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

    }
}


@import 'mobile';